@import "../sass2/maps.scss";
.divcontenedornombreyapellido{
    width: 50%;
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );
    .nombreyapellido{
        width: fit-content;
        display: inline-block;
        width: 49%;
    }
}
.divcontenedormailyespecialidad{
    width: 50%;
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );
    .mailadress{
        width: 60%;
    }
    .mailespecialidad{
        display: inline-block;
    }
}
.areadetexto{
    width: 50%;
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );
}
.botones{
    margin-top: 15px;
    width: map-get($alignment, anchoFit );
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );

}

@media screen and (max-width:768px){

    .divcontenedornombreyapellido{
        width: 95%;
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
        .nombreyapellido{
            margin-left: map-get($alignment, margenL);
            margin-right: map-get($alignment, margenR );
            width: 95%;
        }
    }
    .divcontenedormailyespecialidad{
        width: 95%;
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
        .mailadress{
            width: 95%;
        }
        
        .mailespecialidad{
            display: inline-block;
        }
    }

    .areadetexto{
        width:95%;
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
    }
    
}