@import "../sass2/maps.scss";
.section-cursos{
    display: grid;
    grid-template-areas: 
    "curso-anato curso-tnf";
    .curso-anato{
        grid-area: curso-anato;
    }
    .curso-tnf{
        grid-area: curso-tnf;
    }
    .titulo-curso-anato, .titulo-curso-tnf{
        width: map-get($alignment, anchoFit );
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
        margin-bottom: 15px;
    }
    .imgcurso, .imgtnf{
        width: map-get($alignment, anchoFit );
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
    } 
    .botones{
        width: map-get($alignment, anchoFit );
        margin-left: map-get($alignment, margenL);
        margin-right: map-get($alignment, margenR );
        .masinfo, .comprar{
            padding: 5px;
        }
    }
    .img-tnf, .img-cursoanato{
        width: 635px;
        height: 635px;
        width: 100%;
        height: 100%;
    
    }
    .img-cursos{
        margin: 10px;
    }
    
}

