@import "../sass2/maps.scss";
footer{
    margin-top: 25px;
    background-color:  rgb(197, 194, 191);
    width: 75%;

    animation: backInLeft;
    animation-duration: 1.5s;
    .links{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        .img-ig{
            height: 20px;
            width: 20px;
        }
        .img-wpp{
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }
        .img-email{    
            height: 15px;
            width: 20px;
            margin-left: 10px;
        }
    }

    position: absolute;
    bottom:0;
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );
    right: 0;
    left: 0;
}