.header1{
    background-color: rgb(197, 194, 191);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    animation: backInLeft;
    animation-duration: 1.5s;
    .header1-nav{

        ul{
        list-style: none;
        font-weight: bold;
        }
    }
}
nav {
    ul {
        li{
            a:hover{
                color:aliceblue;
                transition: all 0.3s;
                animation: fadeIn;
                animation-duration: 1s;
            }
        }
    }
}