@import "../sass2/maps.scss";
@import "../sass2/mixins.scss";
.header1{

    background-color: rgb(197, 194, 191);
    width: 75%;
    margin-left: map-get($alignment, margenL);
    margin-right: map-get($alignment, margenR );
    margin-top: 25px;
    animation: backInLeft;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    animation-duration: 1.5s;
    .header1-nav{
        ul{
        list-style: none;
        font-weight: bold;
            li{
                a:hover{
                    @include anclasHeader;
                }
            }
        }
    }
    .img-turnos{
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}