.img-kinesio, .img-mep, .img-pold, .img-acupuntura{
    width: 95%;
    height: 350px;
    border-radius: 15px;
}
.botonGaleria{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;

}